*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    background: rgba(181, 59, 125, 1);
}
header{
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    object-fit: contain;
    background: rgba(250, 246, 219, 1);

}

nav{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
}
header .logo > img{
    width:70px;
    height: 70px;
}


li > a{
    
    color:rgba(181, 59, 125, 1);
}

.menu{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.menu > li{

    padding: 10px 20px 10px 20px;
}
.pesquisa > input{

    background: none;
    border: none;
    padding: 5px 8px 5px 8px;

}
.pesquisa > input:focus{
    outline: none;
}
.pesquisa{

    padding: 10px 20px 10px 20px;
    display: flex;
    gap: 5px;
    background:rgba(242, 191, 224, 1);
}
