*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 1rem;
    
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&display=swap');


body{
    background: rgba(242, 191, 224, 1);
    width: 100vw;
}


.contaner{
    width: 100%;
   
   
}

.btn_01{
    height: 56px;
    border:none;
    border-radius: 9px;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: rgba(181, 59, 125, 1);
}


.menu_bg{
    width: 613px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background:rgba(250, 246, 219, 1);

}

.nav, ul, li{
    display: none;
    align-items: center;
    gap: 5px;

}

.hamburgue{
    width: 70px;
    height: 8px;
    cursor: pointer;
    border-radius: 10px;
    background: rgba(181, 59, 125, 1);

}

.logo{
    width: 50px;
    height: 41px;
    align-items: center;
    
}

.logo img{

    width: 100%;
}
.hamburgue::after{
    width: 70px;
    height: 8px;
    margin: 31px auto;
    display: block;
    content: '';
    border-radius: 10px;
    background: rgba(181, 59, 125, 1);

}

.hamburgue::before{
    width: 70px;
    height: 8px;
    margin: -13px auto;
    display: block;
    content: '';
    border-radius: 10px;
    background: rgba(181, 59, 125, 1);

}


/* primeira seção*/

.start{

    width: 613px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.logo_main{

    width: 390px;
    height: 356px;
    

}

.logo_main img{

    width: 95%;
    height: auto;
    margin: 50px auto;
}

/* Segunda seção*/

.welcome{

    width: 613px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: white;
}

.welcome h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    font-style: italic;
    color: rgba(181, 59, 125, 1);
    text-align: center;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-align: justify;
    line-height: 1.3rem;

}

.img_01{

    width: 613px;
    display:flex;
    justify-content:center;
    align-items: center;
    
}


.img_01 img{

    width: 196px;
    
}

.img01{
    position: relative;
    left: 25px;
}

.img02{
    position: relative;
    right: 25px;
    
}

/* terceira seção Galeria*/

.productor{
    width: 613px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(250, 246, 219, 1);
}

.productor h1{

    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    font-style: italic;
    color: rgba(181, 59, 125, 1);
    text-align: center;


}
.gallery{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

@media (max-width: 360px){
    
    .gallery img {

        width: 250px;
        
     
    }
     
    
}


/* terceira seção Formulario*/
